.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide; 
  /* The duration of the animation */
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}



.navbar {
    margin-bottom: 0;
    background-color: #3390FF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #3390FF !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }


.footer-logo{
    color:red;
}

.jumbotron{
    background-color:#3390FF;
    text-align: center;
    color:white;
    padding:60px;

}
.size-icon{
    font-size: 50px;
    color: #3390FF;
}

.text-center{
    text-align: center;
}

.bg-grey{

    background-color:#f6f6f6;
     
}

.container-fluid{
    padding: 50px 50px;
}

.logo{
    font-size: 200px;
    color: #3390FF;
}

.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #3390FF;
  }
  
  .carousel-indicators li {
    border-color: #3390FF;
  }
  
  .carousel-indicators li.active {
    background-color: #3390FF;
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  
  .item span {
    font-style: normal;
  }